/* Whole Body Style */
html {
    background: linear-gradient(to bottom right, #2F97C1,     #D62246);
  }
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

/* Navigation Bar */
 .navBar{
    background-color: rgb(36, 35, 35);
    padding: 12px;
    color: whitesmoke;
 }

 .navBarMenu{
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style: none;
 }
 .navLi {
    text-align: center;
    font-size:20px ;
    padding: 18px;
    text-transform: uppercase;
 }
 #Logo{
    padding: 0px;
 }
 .navLi img {
    height: 80px;
 }
 .navBarLink{
    text-decoration: none;
    color: whitesmoke;
 }

 .navBarLink:hover{
    font-size: 22px;
    color: brown;
 }
 /* home */

 .Hero{
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
 }
 .heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 38px;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
 }
 .heroIntro{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-weight: bold;
 }
 .heroIntro strong {
    color:brown;
 }
 .heroDescription{
    text-align: center;
    font-size: 20px;
    margin-bottom: 18px;
 }
 .Hero img{
    width: 70%;
    border-radius: 10px;
    margin-bottom: 20px;
 }
 hr{
    height: 3px;
    background-color: brown;
    border: none;
 }
 .characters{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
 }
 .charactersItem{
    height:250px;
    width: 180px;
    margin: 12px;
    object-fit: cover;
    padding: 5px;
    border-radius: 15px;
 }

 .charactersTitle{
    background-color: rgb(36, 35, 35);
    color: white;
    border-radius: 6px;
    font-family: unset;
    font-size: 22px;
    padding: 2px;
 }
 .charactersCaption{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
 }
 .Hero a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
 }
 .Hero a::before{
 content: "🅰️";
 }
 .charactersItem img{
    object-fit: contain;
    height: 70%;
    width: 70%;
    filter: grayscale(1);
    transition: 0.5s ease-in-out;
 }
 .charactersItem img:hover{
    transform: scale(1.2, 1.2);
    filter: grayscale(0);
    transition: 0.5s ease-in-out; 
 }
 #Home img:hover{
    filter:saturate(50%)
 }
/* footer */
footer {
    height: 50px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    background-color: rgb(36, 35, 35);
    color: whitesmoke;
    padding: 3px;
  }
  
  footer p {
    margin: 15px;
    font-size: 22px;
  }
  
  footer strong {
    color: red;
  }